<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="../style.css">

</head>
<body>
    <section id="showRocket">
            <h2>Información de los cohetes</h2>
            <button class="btn" id="crear-cohets" type="submit" onclick="showRockets()">Crear Cohetes</button>
    </section>

    <script src="../models/rocket.js"></script>
    <script src="../models/propulsor.js"></script>
    <script src="../controllers/controller.js"></script>
    
</body>
